<div class="container">
  <div class="header"  style="border-bottom: 1px solid #138024;width: 93%;display: block;text-align: center;margin: 0 auto;">
  <div class="logo">
  <div>logo here</div>
  </div></div>
  <div class="content" style="min-height:200px;margin: 0 auto;margin-top: 25px;margin-bottom: 25px;width: 93%;text-align:justify;">
   {{ content|raw }}
  </div>
  <div class="footer" style="border-top: 1px solid #138024;width: 93%;display: block;text-align: center;margin: 0 auto;">
  <p>
    <ul>
      <li style="display: inline-block;"><a style="color: #000;padding: 10px;text-decoration: none;" href="#">Privacy</a></li>
      <li style="display: inline-block;"><a style="color: #000;padding: 10px;text-decoration: none;" href="#">T & C</a></li>
      <li style="display: inline-block;"><a style="color: #000;padding: 10px;text-decoration: none;" href="#">© 2017 {{ url('<front>') }}</a></li>
    </ul>
  </p>
  </div>
</div>
